[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/simpler-env/ManiSkill2_real2sim
[submodule "ManiSkill"]
	path = ManiSkill
	url = https://github.com/IrvingF7/ManiSkill.git
